.password-form {
  margin-top: 15px;

  input {
    color: #051f64;
    font-weight: 600;
    font-size: 0.7rem;
  }
  label {
    opacity: 0.5;
  }
  .form-group {
      position: relative;
  }
  .eye-icon-ctn {
    position: absolute;
    bottom: 0;
    right: 0px;
    cursor: pointer;
    padding: 0px 20px 2px 0px;
  }
  .eye-ic {
    
    svg {
        font-size: 12px;
        opacity: 0.5;
    }
  }
}
