.phone-form {
    margin-top: 15px;
  .form-group {
    margin-bottom: 20px;
  }
  .phone-input {
    color: #051f64;
    font-weight: 600;
    font-size: 0.7rem;
  }
  .phone-label {
      opacity: 0.5;
  }
}
