@use "styles" as *;

.yourWorksBtnSection {
  display: flex;
  position: relative;
  width: fit-content;
  transition: 0.5s;
  &:before {
    position: absolute;
    height: 100%;
    width: 110px;
    // right: 0;
    // left: 176px;
    box-shadow: 0px 5px 10px #71747a26;
    content: "";
    transition: 0.5s;
    background-image: linear-gradient(#00aaff, color(blue));
  }
  .projectBtn:nth-child(1),
  .projectBtn:nth-child(2) {
    margin-right: 40px;

    @include maxQ(992px) {
      margin-right: 20px;
    }
  }
}

.yourWorksBtnSection.active1 {
  &:before {
    left: 6px;
    width: 162px;

    @include maxQ(1400px) {
      width: 156px;
    }

    @include maxQ(1000px) {
      width: 149px;
    }
  }
}

.yourWorksBtnSection.active2 {
  &:before {
    left: 222px;
    width: 140px;

    @include maxQ(1400px) {
      left: 215px;
      width: 134px;
    }

    @include maxQ(1000px) {
      left: 184px;
      width: 134px;
    }
  }
}

.yourWorksBtnSection.active3 {
  &:before {
    left: 416px;
    width: 153px;

    @include maxQ(1400px) {
      left: 397px;
      width: 153px;
    }

    @include maxQ(1000px) {
      left: 343px;
      width: 145px;
    }
  }
}
