@mixin maxQ($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin minQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin maxHeight($arg) {
  @media screen and (max-height: $arg) {
    @content;
  }
}

@mixin minHeight($arg) {
  @media screen and (min-height: $arg) {
    @content;
  }
}

@mixin maxQH($arg1, $arg2) {
  @media screen and (max-width: $arg1) and (max-height: $arg2) {
    @content;
  }
}

@mixin maxQminH($arg1, $arg2) {
  @media screen and (max-width: $arg1) and (min-height: $arg2) {
    @content;
  }
}

@mixin minQmaxQ($arg1, $arg2) {
  @media screen and (min-width: $arg1) and (max-width: $arg2) {
    @content;
  }
}

@mixin primaryShadow {
  box-shadow: 0px 5px 40px #004cff1a;
}

@mixin primaryShadow-2 {
  box-shadow: 0px 10px 20px #004cff33;
}

@mixin dFlexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin dFlexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin dFlexRow-AlignCenter {
  display: flex;
  align-items: center;
}
@mixin dFlexRow-JustifyCenter {
  display: flex;
  justify-content: center;
}
@mixin dFlexCol-JustifyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin dFlexCol-JustifyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin width($arg) {
  width: $arg;
}
