.triangleicon {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  right: 10px;
  top: 12px;
  transition: 0.3s;
}

.triangleicon.select {
  transform: rotate(180deg);
}
