@use "styles" as *;

.loginNav {
  display: flex;

  @include maxQ(992px) {
    display: none;
  }

  .loginNav__span {
    font-family: muli;
    font-weight: 500;
    color: color(blue, deeper);

    &:nth-child(2) {
      margin-left: 10px;
      color: color(blue);
    }
  }
}
