@use "styles/index" as *;

//profile header
.profileInformation__header {
  position: relative;
  flex-basis: 77%;
  margin-right: auto;
  align-self: flex-start;

  //background-cover
  &--backgroundCover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    & > img {
      height: 300px;
      width: 100%;
    }
  }

  &__content {
    padding: 2em 0 0 0;
  }
}

.profileInformation__details {
  position: relative;

  //profile photo
  &--photo {
    display: inline-block;
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    & > div {
      display: flex;
      align-items: baseline;
    }
    img {
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid color(white);
      width: 225px;
      height: 230px;
    }

    .onlineStatusIndicator {
      position: relative;
      top: -1em;
      right: 3em;
      background-color: color(white);
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 0.15em;
      cursor: pointer;
    }
  }
}

.profileInformation__personal {
  display: inline-block;
  padding-left: 14em;
  padding-top: 8em;
  width: 100%;

  &__box {
    padding-left: 1em;
  }
}

.profileInformation__dataBlock {
  display: flex;
  flex-direction: column;

  &__contentContainer {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }
}
.profileInformation__country {
  display: flex;
  align-items: center;
}

.profileInformation__name {
  font-size: 2.25rem;
  font-weight: 900;
  color: color(white);
  margin-bottom: 1.5em;
}

.arrow {
  transition: transform 0.2s ease-in-out;
  &--rotate180 {
    transform: rotate(180deg);
  }

  &--rotate {
    transform: rotate(360deg);
  }
}

.infoCenter__container {
  position: relative;
  & > .activityCard:last-child {
    position: absolute;
    width: 100%;
    right: 0;
  }
}
