.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: color(white);
  box-shadow: 0px 10px 30px #004cff1a;
  border-radius: 50%;
  cursor: pointer;
}
