@use "styles/index.scss" as *;

// privacySecurity start here
.privacySecurity {
  background-color: #f9fcfc;
  padding-top: 10rem;
  .privacySecurity__search {
    margin: 0 25px 30px 0px;
    @include minQ(1023px) {
      margin: 0 50px 30px 50px;
    }
  }
  .privacySecurity__div {
    display: flex;
    justify-content: space-between;
    margin: 0 3% 0 4%;
    min-height: 100vh;
    gap: 4rem;
    &--column {
      display: flex;
      /* justify-content: space-between; */
      flex-direction: column;
      margin: 0 3% 0 4%;
      min-height: 100vh;
      grid-gap: 4rem;
      gap: 4rem;

      @include minQ(1023px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .privacySecurityDiv__component {
        display: flex;
        flex-flow: wrap column;
        height: 20rem;
        gap: 1rem;
        @include minQ(1023px) {
          height: unset;
        }
      }

      // .privacySecurity__gotComponent {
      //   width: 100%;
      // }
    }
    .privacySecurityDiv__component {
      display: flex;
      flex-flow: wrap column;
      gap: 1rem;
      @include minQ(1023px) {
        height: unset;
      }
    }
    .privacySecurity__gotComponent {
      width: 100%;
    }
  }
  .privacySecurity__gotComponent {
    width: 100%;
    gap: 1rem;
    font-weight: weight(thick);
    @include minQ(1023px) {
      width: 75%;
    }
  }
}
// privacySecurity end here
