@use "styles/index" as *;

/******************************************************************************************************
START:: Styles for address, for freelancer
*******************************************************************************************************/
.address {
  display: flex;
  flex-direction: column;
  margin-top: var(--block-spacing-top);
  padding: 1.35em;
  position: relative;
  address {
    margin-top: 1em;
  }
}
/***************************************************************************************************
END::Styles for address, for freelancer
*****************************************************************************************************/
