.video-upload {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #ffff;
}
.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  &:hover .upload-icon {
    border: 1px dotted blue;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: rotate(1deg);
    svg {
      color: blue;
    }
  }
}
.drop-zone .file-input {
  display: none;
}

.drop-zone small {
  color: #a2a2a2;
  margin-bottom: 10px;
}
.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #f4f5f7;
  border: 1px solid #f4f5f7;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.01s, transform 0.1s;
  transition-timing-function: ease-in;

  svg {
    color: #a2a2a2;
    font-size: 1.3rem;
  }
}
.upload-progress {
  display: flex;
  width: 100%;
  span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    background: #f4f5f7;
    svg {
      color: #a2a2a2;
    }
  }
  .progress-bar {
    align-self: start;
    height: 50px;
    small {
      font-size: 10px;
      color: #051f64;
    }
  }
}
.upload-success {
  display: flex;
  :nth-child(2) {
    margin-left: 5px;
    justify-self: center;
    svg {
      color: green;
    }
  }
  :nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    svg {
      font-size: 8px;
    }
  }
}
.label.error-msg {
  color: red;
  font-style: italic;
  font-size: 10px;
  visibility: hidden;
}
.label.error-msg-visible {
  visibility: visible;
}
