@use "styles/index.scss" as *;
.overLay {
  position: Fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color(black, lightbase);
  display: flex;
  justify-content: center;
  align-items: center;
}
